@import url(reset.css);
@import url(font.css);
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('http://fonts.googleapis.com/css?family=Monoton');

body{
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  font-weight: 300;
}